* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Lato", sans-serif;
    margin: 0px;
}

.row {
    width: 100%;
    display: table;
}

.row-heading {
    margin-left: 15px;
    padding-top: 15px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.col-20 {
    width: 20%;
    height: 100%;
    float: left;
}

.col-40 {
    width: 40%;
    height: 100%;
    float: left;
}

.col-60 {
    width: 60%;
    height: 100%;
    float: left;
}

.col-80 {
    width: 80%;
    float: left;
}


.card {
    margin: 5px;
    padding: 10px;
}

.card img {
    display: block;
    margin: auto;
    width: 100%;
    height: auto;
}

code {
    font-size: 13px
}

.topnav {
    position: fixed;
    overflow: hidden;
    top: 0px;
    width: 100%;
    background-color: #333;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.active {
    background-color: #4CAF50;
    color: white;
}

.icon {
    display: none;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
    cursor: pointer
}

.page {
    margin: 0px;
    padding: 0px;
    margin-top: 60px;
}

@media screen and (max-width: 600px) {
    .col-20 {
        width: 100%;
        float: none;
    }

    .col-40 {
        width: 100%;
        float: none;
    }

    .col-60 {
        width: 100%;
        float: none;
    }

    .col-80 {
        width: 100%;
        float: none;
    }

    .topnav a {
        display: none;
    }

    #ident {
        display: block;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .icon {
        position: absolute;
        right: 0;
        top: 0;
        display: block;
    }

    a.anchor {
        display: block;
        position: relative;
        top: -100px;
        visibility: hidden;
    }

    code {
        font-size: 9px;
    }
}