    * {
        box-sizing: border-box;
    }

    body {
        margin: 0;
        font-family: Arial;
    }

    @media (max-width: 600px) {
        .header {
            display: none;
        }
    }